*{
    overflow: hidden;
}
#navbar{
    height: auto;
    flex-direction: column;

}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo img{
    height: 120px;
    width: 150px;
}
#options a{
    font-size: 1rem;
    margin-top: 12px;
    margin-right: 15px; 
}
#options a:hover{
    width: auto;
    height: auto;
}
#buttons input{
     height:30px;
     width: 130px;
     margin-bottom: 20px;

}
#buttons input::placeholder{
    font-size: 0.9rem;
}
.button1{
    height: 30px;
    width: 130px; 
    margin-top: 22px;
    font-size:0.9rem ;
}
#home{
    height: 350px;
}
#home p{
   margin-top: 10px;
   font-size: 0.8rem;
   width: 460px;
   text-align: center;
}
#home h1{
    font-size: 1.6rem;
 
}
#service h1{
    font-size: 3.5rem;
}
#service #row1{

    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 40px;

}
#about{
    opacity: 0.6;
    color: rgb(0, 0, 0);
    height: 350px;
}
#service #row1 .item img{
    height: 320px;
    width: 350px;
    border-radius: 20px;
}
#service #row1 .item h2{
    font-size: 2rem;
}
#service #row1 .item p{
    font-size: 0.7rem;
    margin-top: 20px;
 
}
#about{
    height: 430px;
    align-items:center;
}
#about h1{
    font-size: 3.4rem;
     padding-top: 15px;
     color: rgb(0, 0, 0);
     padding-left: 0px;
}
#about p{
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
    padding: 0px 100px;
    width:400px;
}
#client{
    height: auto;
}
#client div img{
height: 150px;
width: 220px;
}
#client div{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
#contact input{
    width: 250px;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:0px;
    padding-right: 0px;
    padding-top: 0px;
}
#contact textarea{
width: 250px;
}
#contact button{
    margin-left: 0px;
}
footer div p a {
    font-size: 1rem
}
footer #para1{
font-size: 1rem;
}
